In [1]:
import pandas as pd
import itertools 
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
%matplotlib inline

In [2]:
df=pd.read_csv("C:\\Users\\HP\\Documents\\File\\lv.csv")
df.head(5)

   65 Female   0.7  0.1  187  16   18  6.8  3.3   0.9  1
0  62   Male  10.9  5.5  699  64  100  7.5  3.2  0.74  1
1  62   Male   7.3  4.1  490  60   68  7.0  3.3  0.89  1
2  58   Male   1.0  0.4  182  14   20  6.8  3.4  1.00  1
3  72   Male   3.9  2.0  195  27   59  7.3  2.4  0.40  1
4  46   Male   1.8  0.7  208  19   14  7.6  4.4  1.30  1

In [3]:
df.shape

(582, 11)

In [4]:
df.columns=['Age','Gender','TB','DB','Alkphos','Sgpt','Sgot','TP','ALB','A/G Ratio' ,'Selector_field']

In [6]:
df.head()

,Age,Gender,TB,DB,Alkphos,Sgpt,Sgot,TP,ALB,A/G Ratio,Selector_field
0,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
1,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
2,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
3,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
4,46,Male,1.8,0.7,208,19,14,7.6,4.4,1.30,1

In [9]:
def label_disease(df):
    if df["Selector_field"] == 1:
        return 'yes'
    return 'no'

df['HasDisease'] = df.apply(lambda df: label_disease(df), axis=1)

In [10]:
df['HasDisease'].value_counts()

yes    415
no     167
Name: HasDisease, dtype: int64

In [11]:
df['Gender'].replace(to_replace=['Male','Female'], value=[0,1],inplace=True)

In [12]:
df.isna().sum()

Age               0
Gender            0
TB                0
DB                0
Alkphos           0
Sgpt              0
Sgot              0
TP                0
ALB               0
A/G Ratio         4
Selector_field    0
HasDisease        0
dtype: int64

In [13]:
df['A/G Ratio'].fillna((df['A/G Ratio'].mean()), inplace=True)

In [15]:
Feature = df[['Age','Gender','TB','DB','Alkphos','Sgpt','Sgot','TP','ALB','A/G Ratio']]

In [16]:
X = Feature
y = df['HasDisease'].values
y[0:5]

array(['yes', 'yes', 'yes', 'yes', 'yes'], dtype=object)

In [17]:
X= preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

array([[ 1.06931258, -0.56544486,  1.2235855 ,  1.42864753,  1.68071524,
        -0.09213957, -0.03485275,  0.93733212,  0.0734379 , -0.65040644],
       [ 1.06931258, -0.56544486,  0.6437433 ,  0.93005585,  0.82027879,
        -0.1140453 , -0.14562027,  0.47666053,  0.19914631, -0.17942809],
       [ 0.8219105 , -0.56544486, -0.37098056, -0.38765075, -0.44773282,
        -0.3659612 , -0.31177154,  0.2923919 ,  0.32485471,  0.16595604],
       [ 1.68781777, -0.56544486,  0.09611455,  0.18216832, -0.39421285,
        -0.29476758, -0.17677363,  0.75306349, -0.93222935, -1.71795738],
       [ 0.07970428, -0.56544486, -0.24212674, -0.28080968, -0.34069288,
        -0.33857904, -0.33254045,  1.02946644,  1.58193878,  1.10791275]])

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
print('Train Set:',X_train.shape, y_train.shape)
print('Test Set:',X_test.shape, y_test.shape)

Train Set: (465, 10) (465,)
Test Set: (117, 10) (117,)

In [19]:
Knn=10
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
mean_acc = np.zeros((Knn-1))
std_acc = np.zeros((Knn-1))
confusionMx = [];
for n in range(1,Knn):
    neigh = KNeighborsClassifier(n_neighbors = n).fit(X_train,y_train)
    knn_hat=neigh.predict(X_test)
    mean_acc[n-1] = metrics.accuracy_score(y_test, knn_hat)
    std_acc[n-1]=np.std(knn_hat==y_test)/np.sqrt(knn_hat.shape[0])
mean_acc

array([0.63247863, 0.58119658, 0.66666667, 0.61538462, 0.64102564,
       0.62393162, 0.65811966, 0.62393162, 0.65811966])

In [20]:
print( "The best accuracy was with", mean_acc.max(),"with k =",mean_acc.argmax()+1)

The best accuracy was with 0.6666666666666666 with k = 3