In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df=pd.read_csv("DATA/Indian Liver Patient Dataset (ILPD).csv")

In [5]:
df.shape

(582, 11)

# Column Names

1.Age:                Age of the patient
2.Gender:             Gender of the patient
3.TB:                 Total Bilirubin
4.DB:                 Direct Bilirubin
5.Alkphos:            Alkaline Phosphotase
6.Sgpt:               Alamine Aminotransferase
7.Sgot:               Aspartate Aminotransferase
8.TP:                 Total Protiens
9.ALB:                Albumin
10.A/G Ratio:         Albumin and Globulin Ratio
11.Selector fiel:     used to split the data into two sets (labeled by the experts)

In [6]:
df.columns=['Age','Gender','TB','DB','Alkphos','Sgpt','Sgot','TP','ALB','A/G Ratio' ,'Selector field']

In [7]:
df.head(5)

,Age,Gender,TB,DB,Alkphos,Sgpt,Sgot,TP,ALB,A/G Ratio,Selector field
0,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
1,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
2,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
3,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
4,46,Male,1.8,0.7,208,19,14,7.6,4.4,1.30,1

# Naive Bayes

In [8]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from pandas import DataFrame
from sklearn.impute import SimpleImputer

In [9]:
y = df['Selector field']
X = df.drop(['Selector field','Gender'], axis=1)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,train_size=0.8, random_state=0)

In [11]:
train_mean = X_train.mean()
train_std = X_train.std()

In [29]:
X_train.fillna(X_train.mean(), inplace=True)
X_test.fillna(X_test.mean(), inplace=True)

In [30]:
X_test.describe()

,Age,TB,DB,Alkphos,Sgpt,Sgot,TP,ALB,A/G Ratio
count,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000
mean,-0.123977,0.078150,0.008799,-0.124553,0.001048,0.003379,0.083415,-0.007681,-0.116689
std,1.032949,1.459343,0.926578,0.725870,0.831845,0.665388,1.025124,1.062238,0.880220
min,-2.558483,-0.483556,-0.484843,-0.803354,-0.364281,-0.312244,-3.389456,-2.214977,-2.004121
25%,-0.878211,-0.430125,-0.449797,-0.458749,-0.300729,-0.263385,-0.614637,-0.816950,-0.779726
50%,-0.193656,-0.376695,-0.379704,-0.325606,-0.226586,-0.201496,0.125314,-0.054390,-0.167528
75%,0.615364,-0.091732,-0.064289,0.011167,-0.104780,-0.080977,0.680278,0.835263,0.444670
max,1.860009,12.785021,5.473005,5.689315,6.192089,4.528083,2.900133,2.360382,2.740411

In [31]:
X_train.describe()

,Age,TB,DB,Alkphos,Sgpt,Sgot,TP,ALB,A/G Ratio
count,4.650000e+02,4.650000e+02,4.650000e+02,4.650000e+02,4.650000e+02,4.650000e+02,4.650000e+02,4.650000e+02,4.650000e+02
mean,1.375244e-16,3.533613e-17,-1.659843e-15,7.819313e-17,3.533613e-17,-2.339825e-17,-1.167973e-15,-2.717062e-16,2.449653e-16
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.978425e-01
min,-2.558483e+00,-5.013659e-01,-4.848430e-01,-9.169167e-01,-3.748726e-01,-3.252733e-01,-3.481950e+00,-2.850443e+00,-2.004121e+00
25%,-7.537467e-01,-4.301252e-01,-4.497968e-01,-4.783287e-01,-3.060254e-01,-2.764140e-01,-6.146373e-01,-6.898570e-01,-6.266762e-01
50%,-6.959309e-03,-3.945049e-01,-4.147506e-01,-3.491019e-01,-2.477701e-01,-2.275547e-01,3.282044e-02,-5.439046e-02,1.613134e-02
75%,8.020604e-01,-1.095421e-01,-6.428899e-02,3.334886e-03,-1.100758e-01,-7.446226e-02,6.802781e-01,8.352626e-01,4.446697e-01
max,2.793494e+00,7.050146e+00,6.384206e+00,7.099062e+00,1.016404e+01,1.569732e+01,2.807639e+00,2.995849e+00,5.648350e+00

In [32]:
gnb=GaussianNB()

In [36]:
y_pred=gnb.fit(X_train, y_train).predict(X_test)

In [37]:
from sklearn.metrics import  confusion_matrix,classification_report,accuracy_score

In [39]:
print("Naive Bayes accuracy is: {}" .format(float("{:.2f}".format(gnb.score(X_test, y_test) * 100))))

Naive Bayes accuracy is: 55.56

In [40]:
confusion_matrix(y_test,y_pred).T

array([[33,  0],
       [52, 32]], dtype=int64)