In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv("DATA/Indian Liver Patient Dataset (ILPD).csv")

In [6]:
df.iloc[0]

65          62
Female    Male
0.7       10.9
0.1        5.5
187        699
16          64
18         100
6.8        7.5
3.3        3.2
0.9       0.74
1            1
Name: 0, dtype: object

# ADDING COLUMNS NAMES

In [18]:
df.columns=['Age','gender','total Bilirubin','direct Bilirubin','total proteins','albumin',' A/G ratio','SGPT','SGOT','Alkphos','Selector field']

In [19]:
df.head(5)

,Age,gender,total Bilirubin,direct Bilirubin,total proteins,albumin,A/G ratio,SGPT,SGOT,Alkphos,Selector field
0,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
1,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
2,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
3,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
4,46,Male,1.8,0.7,208,19,14,7.6,4.4,1.30,1